@charset "UTF-8";
@-webkit-keyframes typed {
  /* string 1, char 1 */
  0%, 0.4214757076% {
    content: ">";
  }
  /* string 1, char 2 */
  0.4224757076%, 0.8439514153% {
    content: "> ";
  }
  /* string 1, char 3 */
  0.8449514153%, 1.2664271229% {
    content: "> W";
  }
  /* string 1, char 4 */
  1.2674271229%, 1.6889028306% {
    content: "> We";
  }
  /* string 1, char 5 */
  1.6899028306%, 2.1113785382% {
    content: "> Web";
  }
  /* string 1, char 6 */
  2.1123785382%, 2.5338542459% {
    content: "> Web3";
  }
  /* string 1, char 7 */
  2.5348542459%, 2.9563299535% {
    content: "> Web3 ";
  }
  /* string 1, char 8 */
  2.9573299535%, 3.3788056612% {
    content: "> Web3 c";
  }
  /* string 1, char 9 */
  3.3798056612%, 3.8012813688% {
    content: "> Web3 co";
  }
  /* string 1, char 10 */
  3.8022813688%, 4.2237570765% {
    content: "> Web3 con";
  }
  /* string 1, char 11 */
  4.2247570765%, 4.6462327841% {
    content: "> Web3 cons";
  }
  /* string 1, char 12 */
  4.6472327841%, 5.0687084918% {
    content: "> Web3 consu";
  }
  /* string 1, char 13 */
  5.0697084918%, 5.4911841994% {
    content: "> Web3 consul";
  }
  /* string 1, char 14 */
  5.4921841994%, 5.9136599071% {
    content: "> Web3 consult";
  }
  /* string 1, char 15 */
  5.9146599071%, 6.3361356147% {
    content: "> Web3 consulti";
  }
  /* string 1, char 16 */
  6.3371356147%, 6.7586113223% {
    content: "> Web3 consultin";
  }
  /* string 1, char 17 */
  6.7596113223%, 11.7860722433% {
    content: "> Web3 consulting";
  }
  /* string 1, char 18 */
  11.7870722433%, 12.1663003802% {
    content: "> Web3 consultin";
  }
  /* string 1, char 19 */
  12.1673003802%, 12.5465285171% {
    content: "> Web3 consulti";
  }
  /* string 1, char 20 */
  12.5475285171%, 12.926756654% {
    content: "> Web3 consult";
  }
  /* string 1, char 21 */
  12.927756654%, 13.3069847909% {
    content: "> Web3 consul";
  }
  /* string 1, char 22 */
  13.3079847909%, 13.6872129278% {
    content: "> Web3 consu";
  }
  /* string 1, char 23 */
  13.6882129278%, 14.0674410646% {
    content: "> Web3 cons";
  }
  /* string 1, char 24 */
  14.0684410646%, 14.4476692015% {
    content: "> Web3 con";
  }
  /* string 1, char 25 */
  14.4486692015%, 14.8278973384% {
    content: "> Web3 co";
  }
  /* string 1, char 26 */
  14.8288973384%, 15.2081254753% {
    content: "> Web3 c";
  }
  /* string 1, char 27 */
  15.2091254753%, 15.5883536122% {
    content: "> Web3 ";
  }
  /* string 1, char 28 */
  15.5893536122%, 15.968581749% {
    content: "> Web3";
  }
  /* string 1, char 29 */
  15.969581749%, 16.3488098859% {
    content: "> Web";
  }
  /* string 1, char 30 */
  16.3498098859%, 16.7290380228% {
    content: "> We";
  }
  /* string 1, char 31 */
  16.7300380228%, 17.1092661597% {
    content: "> W";
  }
  /* string 1, char 32 */
  17.1102661597%, 17.4894942966% {
    content: "> ";
  }
  /* string 1, char 33 */
  17.4904942966%, 17.8697224335% {
    content: ">";
  }
  /* string 1, char 34 */
  17.8707224335%, 19.9821009717% {
    content: "​";
  }
  /* string 2, char 1 */
  19.9831009717%, 20.4045766793% {
    content: ">";
  }
  /* string 2, char 2 */
  20.4055766793%, 20.827052387% {
    content: "> ";
  }
  /* string 2, char 3 */
  20.828052387%, 21.2495280946% {
    content: "> E";
  }
  /* string 2, char 4 */
  21.2505280946%, 21.6720038023% {
    content: "> En";
  }
  /* string 2, char 5 */
  21.6730038023%, 22.0944795099% {
    content: "> Eng";
  }
  /* string 2, char 6 */
  22.0954795099%, 22.5169552176% {
    content: "> Engi";
  }
  /* string 2, char 7 */
  22.5179552176%, 22.9394309252% {
    content: "> Engin";
  }
  /* string 2, char 8 */
  22.9404309252%, 23.3619066329% {
    content: "> Engine";
  }
  /* string 2, char 9 */
  23.3629066329%, 23.7843823405% {
    content: "> Enginee";
  }
  /* string 2, char 10 */
  23.7853823405%, 24.2068580482% {
    content: "> Engineer";
  }
  /* string 2, char 11 */
  24.2078580482%, 24.6293337558% {
    content: "> Engineeri";
  }
  /* string 2, char 12 */
  24.6303337558%, 25.0518094635% {
    content: "> Engineerin";
  }
  /* string 2, char 13 */
  25.0528094635%, 25.4742851711% {
    content: "> Engineering";
  }
  /* string 2, char 14 */
  25.4752851711%, 25.8967608787% {
    content: "> Engineering ";
  }
  /* string 2, char 15 */
  25.8977608787%, 26.3192365864% {
    content: "> Engineering o";
  }
  /* string 2, char 16 */
  26.3202365864%, 26.741712294% {
    content: "> Engineering or";
  }
  /* string 2, char 17 */
  26.742712294%, 27.1641880017% {
    content: "> Engineering org";
  }
  /* string 2, char 18 */
  27.1651880017%, 27.5866637093% {
    content: "> Engineering orga";
  }
  /* string 2, char 19 */
  27.5876637093%, 28.009139417% {
    content: "> Engineering organ";
  }
  /* string 2, char 20 */
  28.010139417%, 28.4316151246% {
    content: "> Engineering organi";
  }
  /* string 2, char 21 */
  28.4326151246%, 28.8540908323% {
    content: "> Engineering organiz";
  }
  /* string 2, char 22 */
  28.8550908323%, 29.2765665399% {
    content: "> Engineering organiza";
  }
  /* string 2, char 23 */
  29.2775665399%, 29.6990422476% {
    content: "> Engineering organizat";
  }
  /* string 2, char 24 */
  29.7000422476%, 30.1215179552% {
    content: "> Engineering organizati";
  }
  /* string 2, char 25 */
  30.1225179552%, 30.5439936629% {
    content: "> Engineering organizatio";
  }
  /* string 2, char 26 */
  30.5449936629%, 30.9664693705% {
    content: "> Engineering organization";
  }
  /* string 2, char 27 */
  30.9674693705%, 31.3889450782% {
    content: "> Engineering organization ";
  }
  /* string 2, char 28 */
  31.3899450782%, 31.8114207858% {
    content: "> Engineering organization a";
  }
  /* string 2, char 29 */
  31.8124207858%, 32.2338964935% {
    content: "> Engineering organization ad";
  }
  /* string 2, char 30 */
  32.2348964935%, 32.6563722011% {
    content: "> Engineering organization adv";
  }
  /* string 2, char 31 */
  32.6573722011%, 33.0788479087% {
    content: "> Engineering organization advi";
  }
  /* string 2, char 32 */
  33.0798479087%, 33.5013236164% {
    content: "> Engineering organization advis";
  }
  /* string 2, char 33 */
  33.5023236164%, 33.923799324% {
    content: "> Engineering organization adviso";
  }
  /* string 2, char 34 */
  33.924799324%, 34.3462750317% {
    content: "> Engineering organization advisor";
  }
  /* string 2, char 35 */
  34.3472750317%, 39.3737359527% {
    content: "> Engineering organization advisory";
  }
  /* string 2, char 36 */
  39.3747359527%, 39.7539640896% {
    content: "> Engineering organization advisor";
  }
  /* string 2, char 37 */
  39.7549640896%, 40.1341922264% {
    content: "> Engineering organization adviso";
  }
  /* string 2, char 38 */
  40.1351922264%, 40.5144203633% {
    content: "> Engineering organization advis";
  }
  /* string 2, char 39 */
  40.5154203633%, 40.8946485002% {
    content: "> Engineering organization advi";
  }
  /* string 2, char 40 */
  40.8956485002%, 41.2748766371% {
    content: "> Engineering organization adv";
  }
  /* string 2, char 41 */
  41.2758766371%, 41.655104774% {
    content: "> Engineering organization ad";
  }
  /* string 2, char 42 */
  41.656104774%, 42.0353329109% {
    content: "> Engineering organization a";
  }
  /* string 2, char 43 */
  42.0363329109%, 42.4155610477% {
    content: "> Engineering organization ";
  }
  /* string 2, char 44 */
  42.4165610477%, 42.7957891846% {
    content: "> Engineering organization";
  }
  /* string 2, char 45 */
  42.7967891846%, 43.1760173215% {
    content: "> Engineering organizatio";
  }
  /* string 2, char 46 */
  43.1770173215%, 43.5562454584% {
    content: "> Engineering organizati";
  }
  /* string 2, char 47 */
  43.5572454584%, 43.9364735953% {
    content: "> Engineering organizat";
  }
  /* string 2, char 48 */
  43.9374735953%, 44.3167017322% {
    content: "> Engineering organiza";
  }
  /* string 2, char 49 */
  44.3177017322%, 44.696929869% {
    content: "> Engineering organiz";
  }
  /* string 2, char 50 */
  44.697929869%, 45.0771580059% {
    content: "> Engineering organi";
  }
  /* string 2, char 51 */
  45.0781580059%, 45.4573861428% {
    content: "> Engineering organ";
  }
  /* string 2, char 52 */
  45.4583861428%, 45.8376142797% {
    content: "> Engineering orga";
  }
  /* string 2, char 53 */
  45.8386142797%, 46.2178424166% {
    content: "> Engineering org";
  }
  /* string 2, char 54 */
  46.2188424166%, 46.5980705534% {
    content: "> Engineering or";
  }
  /* string 2, char 55 */
  46.5990705534%, 46.9782986903% {
    content: "> Engineering o";
  }
  /* string 2, char 56 */
  46.9792986903%, 47.3585268272% {
    content: "> Engineering ";
  }
  /* string 2, char 57 */
  47.3595268272%, 47.7387549641% {
    content: "> Engineering";
  }
  /* string 2, char 58 */
  47.7397549641%, 48.118983101% {
    content: "> Engineerin";
  }
  /* string 2, char 59 */
  48.119983101%, 48.4992112379% {
    content: "> Engineeri";
  }
  /* string 2, char 60 */
  48.5002112379%, 48.8794393747% {
    content: "> Engineer";
  }
  /* string 2, char 61 */
  48.8804393747%, 49.2596675116% {
    content: "> Enginee";
  }
  /* string 2, char 62 */
  49.2606675116%, 49.6398956485% {
    content: "> Engine";
  }
  /* string 2, char 63 */
  49.6408956485%, 50.0201237854% {
    content: "> Engin";
  }
  /* string 2, char 64 */
  50.0211237854%, 50.4003519223% {
    content: "> Engi";
  }
  /* string 2, char 65 */
  50.4013519223%, 50.7805800591% {
    content: "> Eng";
  }
  /* string 2, char 66 */
  50.7815800591%, 51.160808196% {
    content: "> En";
  }
  /* string 2, char 67 */
  51.161808196%, 51.5410363329% {
    content: "> E";
  }
  /* string 2, char 68 */
  51.5420363329%, 51.9212644698% {
    content: "> ";
  }
  /* string 2, char 69 */
  51.9222644698%, 52.3014926067% {
    content: ">";
  }
  /* string 2, char 70 */
  52.3024926067%, 54.4138711449% {
    content: "​";
  }
  /* string 3, char 1 */
  54.4148711449%, 54.8363468526% {
    content: ">";
  }
  /* string 3, char 2 */
  54.8373468526%, 55.2588225602% {
    content: "> ";
  }
  /* string 3, char 3 */
  55.2598225602%, 55.6812982678% {
    content: "> S";
  }
  /* string 3, char 4 */
  55.6822982678%, 56.1037739755% {
    content: "> St";
  }
  /* string 3, char 5 */
  56.1047739755%, 56.5262496831% {
    content: "> Sta";
  }
  /* string 3, char 6 */
  56.5272496831%, 56.9487253908% {
    content: "> Star";
  }
  /* string 3, char 7 */
  56.9497253908%, 57.3712010984% {
    content: "> Start";
  }
  /* string 3, char 8 */
  57.3722010984%, 57.7936768061% {
    content: "> Startu";
  }
  /* string 3, char 9 */
  57.7946768061%, 58.2161525137% {
    content: "> Startup";
  }
  /* string 3, char 10 */
  58.2171525137%, 58.6386282214% {
    content: "> Startup ";
  }
  /* string 3, char 11 */
  58.6396282214%, 59.061103929% {
    content: "> Startup a";
  }
  /* string 3, char 12 */
  59.062103929%, 59.4835796367% {
    content: "> Startup ad";
  }
  /* string 3, char 13 */
  59.4845796367%, 59.9060553443% {
    content: "> Startup adv";
  }
  /* string 3, char 14 */
  59.9070553443%, 60.328531052% {
    content: "> Startup advi";
  }
  /* string 3, char 15 */
  60.329531052%, 60.7510067596% {
    content: "> Startup advis";
  }
  /* string 3, char 16 */
  60.7520067596%, 61.1734824673% {
    content: "> Startup adviso";
  }
  /* string 3, char 17 */
  61.1744824673%, 61.5959581749% {
    content: "> Startup advisor";
  }
  /* string 3, char 18 */
  61.5969581749%, 66.6234190959% {
    content: "> Startup advisory";
  }
  /* string 3, char 19 */
  66.6244190959%, 67.0036472328% {
    content: "> Startup advisor";
  }
  /* string 3, char 20 */
  67.0046472328%, 67.3838753697% {
    content: "> Startup adviso";
  }
  /* string 3, char 21 */
  67.3848753697%, 67.7641035065% {
    content: "> Startup advis";
  }
  /* string 3, char 22 */
  67.7651035065%, 68.1443316434% {
    content: "> Startup advi";
  }
  /* string 3, char 23 */
  68.1453316434%, 68.5245597803% {
    content: "> Startup adv";
  }
  /* string 3, char 24 */
  68.5255597803%, 68.9047879172% {
    content: "> Startup ad";
  }
  /* string 3, char 25 */
  68.9057879172%, 69.2850160541% {
    content: "> Startup a";
  }
  /* string 3, char 26 */
  69.2860160541%, 69.665244191% {
    content: "> Startup ";
  }
  /* string 3, char 27 */
  69.666244191%, 70.0454723278% {
    content: "> Startup";
  }
  /* string 3, char 28 */
  70.0464723278%, 70.4257004647% {
    content: "> Startu";
  }
  /* string 3, char 29 */
  70.4267004647%, 70.8059286016% {
    content: "> Start";
  }
  /* string 3, char 30 */
  70.8069286016%, 71.1861567385% {
    content: "> Star";
  }
  /* string 3, char 31 */
  71.1871567385%, 71.5663848754% {
    content: "> Sta";
  }
  /* string 3, char 32 */
  71.5673848754%, 71.9466130123% {
    content: "> St";
  }
  /* string 3, char 33 */
  71.9476130123%, 72.3268411491% {
    content: "> S";
  }
  /* string 3, char 34 */
  72.3278411491%, 72.707069286% {
    content: "> ";
  }
  /* string 3, char 35 */
  72.708069286%, 73.0872974229% {
    content: ">";
  }
  /* string 3, char 36 */
  73.0882974229%, 75.1996759611% {
    content: "​";
  }
  /* string 4, char 1 */
  75.2006759611%, 75.6221516688% {
    content: ">";
  }
  /* string 4, char 2 */
  75.6231516688%, 76.0446273764% {
    content: "> ";
  }
  /* string 4, char 3 */
  76.0456273764%, 76.4671030841% {
    content: "> B";
  }
  /* string 4, char 4 */
  76.4681030841%, 76.8895787917% {
    content: "> Bl";
  }
  /* string 4, char 5 */
  76.8905787917%, 77.3120544994% {
    content: "> Blo";
  }
  /* string 4, char 6 */
  77.3130544994%, 77.734530207% {
    content: "> Bloc";
  }
  /* string 4, char 7 */
  77.735530207%, 78.1570059147% {
    content: "> Block";
  }
  /* string 4, char 8 */
  78.1580059147%, 78.5794816223% {
    content: "> Blockc";
  }
  /* string 4, char 9 */
  78.5804816223%, 79.00195733% {
    content: "> Blockch";
  }
  /* string 4, char 10 */
  79.00295733%, 79.4244330376% {
    content: "> Blockcha";
  }
  /* string 4, char 11 */
  79.4254330376%, 79.8469087452% {
    content: "> Blockchai";
  }
  /* string 4, char 12 */
  79.8479087452%, 80.2693844529% {
    content: "> Blockchain";
  }
  /* string 4, char 13 */
  80.2703844529%, 80.6918601605% {
    content: "> Blockchain ";
  }
  /* string 4, char 14 */
  80.6928601605%, 81.1143358682% {
    content: "> Blockchain c";
  }
  /* string 4, char 15 */
  81.1153358682%, 81.5368115758% {
    content: "> Blockchain co";
  }
  /* string 4, char 16 */
  81.5378115758%, 81.9592872835% {
    content: "> Blockchain con";
  }
  /* string 4, char 17 */
  81.9602872835%, 82.3817629911% {
    content: "> Blockchain cons";
  }
  /* string 4, char 18 */
  82.3827629911%, 82.8042386988% {
    content: "> Blockchain consu";
  }
  /* string 4, char 19 */
  82.8052386988%, 83.2267144064% {
    content: "> Blockchain consul";
  }
  /* string 4, char 20 */
  83.2277144064%, 83.6491901141% {
    content: "> Blockchain consult";
  }
  /* string 4, char 21 */
  83.6501901141%, 84.0716658217% {
    content: "> Blockchain consulti";
  }
  /* string 4, char 22 */
  84.0726658217%, 84.4941415294% {
    content: "> Blockchain consultin";
  }
  /* string 4, char 23 */
  84.4951415294%, 89.5216024504% {
    content: "> Blockchain consulting";
  }
  /* string 4, char 24 */
  89.5226024504%, 89.9018305872% {
    content: "> Blockchain consultin";
  }
  /* string 4, char 25 */
  89.9028305872%, 90.2820587241% {
    content: "> Blockchain consulti";
  }
  /* string 4, char 26 */
  90.2830587241%, 90.662286861% {
    content: "> Blockchain consult";
  }
  /* string 4, char 27 */
  90.663286861%, 91.0425149979% {
    content: "> Blockchain consul";
  }
  /* string 4, char 28 */
  91.0435149979%, 91.4227431348% {
    content: "> Blockchain consu";
  }
  /* string 4, char 29 */
  91.4237431348%, 91.8029712717% {
    content: "> Blockchain cons";
  }
  /* string 4, char 30 */
  91.8039712717%, 92.1831994085% {
    content: "> Blockchain con";
  }
  /* string 4, char 31 */
  92.1841994085%, 92.5634275454% {
    content: "> Blockchain co";
  }
  /* string 4, char 32 */
  92.5644275454%, 92.9436556823% {
    content: "> Blockchain c";
  }
  /* string 4, char 33 */
  92.9446556823%, 93.3238838192% {
    content: "> Blockchain ";
  }
  /* string 4, char 34 */
  93.3248838192%, 93.7041119561% {
    content: "> Blockchain";
  }
  /* string 4, char 35 */
  93.7051119561%, 94.0843400929% {
    content: "> Blockchai";
  }
  /* string 4, char 36 */
  94.0853400929%, 94.4645682298% {
    content: "> Blockcha";
  }
  /* string 4, char 37 */
  94.4655682298%, 94.8447963667% {
    content: "> Blockch";
  }
  /* string 4, char 38 */
  94.8457963667%, 95.2250245036% {
    content: "> Blockc";
  }
  /* string 4, char 39 */
  95.2260245036%, 95.6052526405% {
    content: "> Block";
  }
  /* string 4, char 40 */
  95.6062526405%, 95.9854807774% {
    content: "> Bloc";
  }
  /* string 4, char 41 */
  95.9864807774%, 96.3657089142% {
    content: "> Blo";
  }
  /* string 4, char 42 */
  96.3667089142%, 96.7459370511% {
    content: "> Bl";
  }
  /* string 4, char 43 */
  96.7469370511%, 97.126165188% {
    content: "> B";
  }
  /* string 4, char 44 */
  97.127165188%, 97.5063933249% {
    content: "> ";
  }
  /* string 4, char 45 */
  97.5073933249%, 97.8866214618% {
    content: ">";
  }
  /* string 4, char 46 */
  97.8876214618%, 100% {
    content: "​";
  }
}
@keyframes typed {
  /* string 1, char 1 */
  0%, 0.4214757076% {
    content: ">";
  }
  /* string 1, char 2 */
  0.4224757076%, 0.8439514153% {
    content: "> ";
  }
  /* string 1, char 3 */
  0.8449514153%, 1.2664271229% {
    content: "> W";
  }
  /* string 1, char 4 */
  1.2674271229%, 1.6889028306% {
    content: "> We";
  }
  /* string 1, char 5 */
  1.6899028306%, 2.1113785382% {
    content: "> Web";
  }
  /* string 1, char 6 */
  2.1123785382%, 2.5338542459% {
    content: "> Web3";
  }
  /* string 1, char 7 */
  2.5348542459%, 2.9563299535% {
    content: "> Web3 ";
  }
  /* string 1, char 8 */
  2.9573299535%, 3.3788056612% {
    content: "> Web3 c";
  }
  /* string 1, char 9 */
  3.3798056612%, 3.8012813688% {
    content: "> Web3 co";
  }
  /* string 1, char 10 */
  3.8022813688%, 4.2237570765% {
    content: "> Web3 con";
  }
  /* string 1, char 11 */
  4.2247570765%, 4.6462327841% {
    content: "> Web3 cons";
  }
  /* string 1, char 12 */
  4.6472327841%, 5.0687084918% {
    content: "> Web3 consu";
  }
  /* string 1, char 13 */
  5.0697084918%, 5.4911841994% {
    content: "> Web3 consul";
  }
  /* string 1, char 14 */
  5.4921841994%, 5.9136599071% {
    content: "> Web3 consult";
  }
  /* string 1, char 15 */
  5.9146599071%, 6.3361356147% {
    content: "> Web3 consulti";
  }
  /* string 1, char 16 */
  6.3371356147%, 6.7586113223% {
    content: "> Web3 consultin";
  }
  /* string 1, char 17 */
  6.7596113223%, 11.7860722433% {
    content: "> Web3 consulting";
  }
  /* string 1, char 18 */
  11.7870722433%, 12.1663003802% {
    content: "> Web3 consultin";
  }
  /* string 1, char 19 */
  12.1673003802%, 12.5465285171% {
    content: "> Web3 consulti";
  }
  /* string 1, char 20 */
  12.5475285171%, 12.926756654% {
    content: "> Web3 consult";
  }
  /* string 1, char 21 */
  12.927756654%, 13.3069847909% {
    content: "> Web3 consul";
  }
  /* string 1, char 22 */
  13.3079847909%, 13.6872129278% {
    content: "> Web3 consu";
  }
  /* string 1, char 23 */
  13.6882129278%, 14.0674410646% {
    content: "> Web3 cons";
  }
  /* string 1, char 24 */
  14.0684410646%, 14.4476692015% {
    content: "> Web3 con";
  }
  /* string 1, char 25 */
  14.4486692015%, 14.8278973384% {
    content: "> Web3 co";
  }
  /* string 1, char 26 */
  14.8288973384%, 15.2081254753% {
    content: "> Web3 c";
  }
  /* string 1, char 27 */
  15.2091254753%, 15.5883536122% {
    content: "> Web3 ";
  }
  /* string 1, char 28 */
  15.5893536122%, 15.968581749% {
    content: "> Web3";
  }
  /* string 1, char 29 */
  15.969581749%, 16.3488098859% {
    content: "> Web";
  }
  /* string 1, char 30 */
  16.3498098859%, 16.7290380228% {
    content: "> We";
  }
  /* string 1, char 31 */
  16.7300380228%, 17.1092661597% {
    content: "> W";
  }
  /* string 1, char 32 */
  17.1102661597%, 17.4894942966% {
    content: "> ";
  }
  /* string 1, char 33 */
  17.4904942966%, 17.8697224335% {
    content: ">";
  }
  /* string 1, char 34 */
  17.8707224335%, 19.9821009717% {
    content: "​";
  }
  /* string 2, char 1 */
  19.9831009717%, 20.4045766793% {
    content: ">";
  }
  /* string 2, char 2 */
  20.4055766793%, 20.827052387% {
    content: "> ";
  }
  /* string 2, char 3 */
  20.828052387%, 21.2495280946% {
    content: "> E";
  }
  /* string 2, char 4 */
  21.2505280946%, 21.6720038023% {
    content: "> En";
  }
  /* string 2, char 5 */
  21.6730038023%, 22.0944795099% {
    content: "> Eng";
  }
  /* string 2, char 6 */
  22.0954795099%, 22.5169552176% {
    content: "> Engi";
  }
  /* string 2, char 7 */
  22.5179552176%, 22.9394309252% {
    content: "> Engin";
  }
  /* string 2, char 8 */
  22.9404309252%, 23.3619066329% {
    content: "> Engine";
  }
  /* string 2, char 9 */
  23.3629066329%, 23.7843823405% {
    content: "> Enginee";
  }
  /* string 2, char 10 */
  23.7853823405%, 24.2068580482% {
    content: "> Engineer";
  }
  /* string 2, char 11 */
  24.2078580482%, 24.6293337558% {
    content: "> Engineeri";
  }
  /* string 2, char 12 */
  24.6303337558%, 25.0518094635% {
    content: "> Engineerin";
  }
  /* string 2, char 13 */
  25.0528094635%, 25.4742851711% {
    content: "> Engineering";
  }
  /* string 2, char 14 */
  25.4752851711%, 25.8967608787% {
    content: "> Engineering ";
  }
  /* string 2, char 15 */
  25.8977608787%, 26.3192365864% {
    content: "> Engineering o";
  }
  /* string 2, char 16 */
  26.3202365864%, 26.741712294% {
    content: "> Engineering or";
  }
  /* string 2, char 17 */
  26.742712294%, 27.1641880017% {
    content: "> Engineering org";
  }
  /* string 2, char 18 */
  27.1651880017%, 27.5866637093% {
    content: "> Engineering orga";
  }
  /* string 2, char 19 */
  27.5876637093%, 28.009139417% {
    content: "> Engineering organ";
  }
  /* string 2, char 20 */
  28.010139417%, 28.4316151246% {
    content: "> Engineering organi";
  }
  /* string 2, char 21 */
  28.4326151246%, 28.8540908323% {
    content: "> Engineering organiz";
  }
  /* string 2, char 22 */
  28.8550908323%, 29.2765665399% {
    content: "> Engineering organiza";
  }
  /* string 2, char 23 */
  29.2775665399%, 29.6990422476% {
    content: "> Engineering organizat";
  }
  /* string 2, char 24 */
  29.7000422476%, 30.1215179552% {
    content: "> Engineering organizati";
  }
  /* string 2, char 25 */
  30.1225179552%, 30.5439936629% {
    content: "> Engineering organizatio";
  }
  /* string 2, char 26 */
  30.5449936629%, 30.9664693705% {
    content: "> Engineering organization";
  }
  /* string 2, char 27 */
  30.9674693705%, 31.3889450782% {
    content: "> Engineering organization ";
  }
  /* string 2, char 28 */
  31.3899450782%, 31.8114207858% {
    content: "> Engineering organization a";
  }
  /* string 2, char 29 */
  31.8124207858%, 32.2338964935% {
    content: "> Engineering organization ad";
  }
  /* string 2, char 30 */
  32.2348964935%, 32.6563722011% {
    content: "> Engineering organization adv";
  }
  /* string 2, char 31 */
  32.6573722011%, 33.0788479087% {
    content: "> Engineering organization advi";
  }
  /* string 2, char 32 */
  33.0798479087%, 33.5013236164% {
    content: "> Engineering organization advis";
  }
  /* string 2, char 33 */
  33.5023236164%, 33.923799324% {
    content: "> Engineering organization adviso";
  }
  /* string 2, char 34 */
  33.924799324%, 34.3462750317% {
    content: "> Engineering organization advisor";
  }
  /* string 2, char 35 */
  34.3472750317%, 39.3737359527% {
    content: "> Engineering organization advisory";
  }
  /* string 2, char 36 */
  39.3747359527%, 39.7539640896% {
    content: "> Engineering organization advisor";
  }
  /* string 2, char 37 */
  39.7549640896%, 40.1341922264% {
    content: "> Engineering organization adviso";
  }
  /* string 2, char 38 */
  40.1351922264%, 40.5144203633% {
    content: "> Engineering organization advis";
  }
  /* string 2, char 39 */
  40.5154203633%, 40.8946485002% {
    content: "> Engineering organization advi";
  }
  /* string 2, char 40 */
  40.8956485002%, 41.2748766371% {
    content: "> Engineering organization adv";
  }
  /* string 2, char 41 */
  41.2758766371%, 41.655104774% {
    content: "> Engineering organization ad";
  }
  /* string 2, char 42 */
  41.656104774%, 42.0353329109% {
    content: "> Engineering organization a";
  }
  /* string 2, char 43 */
  42.0363329109%, 42.4155610477% {
    content: "> Engineering organization ";
  }
  /* string 2, char 44 */
  42.4165610477%, 42.7957891846% {
    content: "> Engineering organization";
  }
  /* string 2, char 45 */
  42.7967891846%, 43.1760173215% {
    content: "> Engineering organizatio";
  }
  /* string 2, char 46 */
  43.1770173215%, 43.5562454584% {
    content: "> Engineering organizati";
  }
  /* string 2, char 47 */
  43.5572454584%, 43.9364735953% {
    content: "> Engineering organizat";
  }
  /* string 2, char 48 */
  43.9374735953%, 44.3167017322% {
    content: "> Engineering organiza";
  }
  /* string 2, char 49 */
  44.3177017322%, 44.696929869% {
    content: "> Engineering organiz";
  }
  /* string 2, char 50 */
  44.697929869%, 45.0771580059% {
    content: "> Engineering organi";
  }
  /* string 2, char 51 */
  45.0781580059%, 45.4573861428% {
    content: "> Engineering organ";
  }
  /* string 2, char 52 */
  45.4583861428%, 45.8376142797% {
    content: "> Engineering orga";
  }
  /* string 2, char 53 */
  45.8386142797%, 46.2178424166% {
    content: "> Engineering org";
  }
  /* string 2, char 54 */
  46.2188424166%, 46.5980705534% {
    content: "> Engineering or";
  }
  /* string 2, char 55 */
  46.5990705534%, 46.9782986903% {
    content: "> Engineering o";
  }
  /* string 2, char 56 */
  46.9792986903%, 47.3585268272% {
    content: "> Engineering ";
  }
  /* string 2, char 57 */
  47.3595268272%, 47.7387549641% {
    content: "> Engineering";
  }
  /* string 2, char 58 */
  47.7397549641%, 48.118983101% {
    content: "> Engineerin";
  }
  /* string 2, char 59 */
  48.119983101%, 48.4992112379% {
    content: "> Engineeri";
  }
  /* string 2, char 60 */
  48.5002112379%, 48.8794393747% {
    content: "> Engineer";
  }
  /* string 2, char 61 */
  48.8804393747%, 49.2596675116% {
    content: "> Enginee";
  }
  /* string 2, char 62 */
  49.2606675116%, 49.6398956485% {
    content: "> Engine";
  }
  /* string 2, char 63 */
  49.6408956485%, 50.0201237854% {
    content: "> Engin";
  }
  /* string 2, char 64 */
  50.0211237854%, 50.4003519223% {
    content: "> Engi";
  }
  /* string 2, char 65 */
  50.4013519223%, 50.7805800591% {
    content: "> Eng";
  }
  /* string 2, char 66 */
  50.7815800591%, 51.160808196% {
    content: "> En";
  }
  /* string 2, char 67 */
  51.161808196%, 51.5410363329% {
    content: "> E";
  }
  /* string 2, char 68 */
  51.5420363329%, 51.9212644698% {
    content: "> ";
  }
  /* string 2, char 69 */
  51.9222644698%, 52.3014926067% {
    content: ">";
  }
  /* string 2, char 70 */
  52.3024926067%, 54.4138711449% {
    content: "​";
  }
  /* string 3, char 1 */
  54.4148711449%, 54.8363468526% {
    content: ">";
  }
  /* string 3, char 2 */
  54.8373468526%, 55.2588225602% {
    content: "> ";
  }
  /* string 3, char 3 */
  55.2598225602%, 55.6812982678% {
    content: "> S";
  }
  /* string 3, char 4 */
  55.6822982678%, 56.1037739755% {
    content: "> St";
  }
  /* string 3, char 5 */
  56.1047739755%, 56.5262496831% {
    content: "> Sta";
  }
  /* string 3, char 6 */
  56.5272496831%, 56.9487253908% {
    content: "> Star";
  }
  /* string 3, char 7 */
  56.9497253908%, 57.3712010984% {
    content: "> Start";
  }
  /* string 3, char 8 */
  57.3722010984%, 57.7936768061% {
    content: "> Startu";
  }
  /* string 3, char 9 */
  57.7946768061%, 58.2161525137% {
    content: "> Startup";
  }
  /* string 3, char 10 */
  58.2171525137%, 58.6386282214% {
    content: "> Startup ";
  }
  /* string 3, char 11 */
  58.6396282214%, 59.061103929% {
    content: "> Startup a";
  }
  /* string 3, char 12 */
  59.062103929%, 59.4835796367% {
    content: "> Startup ad";
  }
  /* string 3, char 13 */
  59.4845796367%, 59.9060553443% {
    content: "> Startup adv";
  }
  /* string 3, char 14 */
  59.9070553443%, 60.328531052% {
    content: "> Startup advi";
  }
  /* string 3, char 15 */
  60.329531052%, 60.7510067596% {
    content: "> Startup advis";
  }
  /* string 3, char 16 */
  60.7520067596%, 61.1734824673% {
    content: "> Startup adviso";
  }
  /* string 3, char 17 */
  61.1744824673%, 61.5959581749% {
    content: "> Startup advisor";
  }
  /* string 3, char 18 */
  61.5969581749%, 66.6234190959% {
    content: "> Startup advisory";
  }
  /* string 3, char 19 */
  66.6244190959%, 67.0036472328% {
    content: "> Startup advisor";
  }
  /* string 3, char 20 */
  67.0046472328%, 67.3838753697% {
    content: "> Startup adviso";
  }
  /* string 3, char 21 */
  67.3848753697%, 67.7641035065% {
    content: "> Startup advis";
  }
  /* string 3, char 22 */
  67.7651035065%, 68.1443316434% {
    content: "> Startup advi";
  }
  /* string 3, char 23 */
  68.1453316434%, 68.5245597803% {
    content: "> Startup adv";
  }
  /* string 3, char 24 */
  68.5255597803%, 68.9047879172% {
    content: "> Startup ad";
  }
  /* string 3, char 25 */
  68.9057879172%, 69.2850160541% {
    content: "> Startup a";
  }
  /* string 3, char 26 */
  69.2860160541%, 69.665244191% {
    content: "> Startup ";
  }
  /* string 3, char 27 */
  69.666244191%, 70.0454723278% {
    content: "> Startup";
  }
  /* string 3, char 28 */
  70.0464723278%, 70.4257004647% {
    content: "> Startu";
  }
  /* string 3, char 29 */
  70.4267004647%, 70.8059286016% {
    content: "> Start";
  }
  /* string 3, char 30 */
  70.8069286016%, 71.1861567385% {
    content: "> Star";
  }
  /* string 3, char 31 */
  71.1871567385%, 71.5663848754% {
    content: "> Sta";
  }
  /* string 3, char 32 */
  71.5673848754%, 71.9466130123% {
    content: "> St";
  }
  /* string 3, char 33 */
  71.9476130123%, 72.3268411491% {
    content: "> S";
  }
  /* string 3, char 34 */
  72.3278411491%, 72.707069286% {
    content: "> ";
  }
  /* string 3, char 35 */
  72.708069286%, 73.0872974229% {
    content: ">";
  }
  /* string 3, char 36 */
  73.0882974229%, 75.1996759611% {
    content: "​";
  }
  /* string 4, char 1 */
  75.2006759611%, 75.6221516688% {
    content: ">";
  }
  /* string 4, char 2 */
  75.6231516688%, 76.0446273764% {
    content: "> ";
  }
  /* string 4, char 3 */
  76.0456273764%, 76.4671030841% {
    content: "> B";
  }
  /* string 4, char 4 */
  76.4681030841%, 76.8895787917% {
    content: "> Bl";
  }
  /* string 4, char 5 */
  76.8905787917%, 77.3120544994% {
    content: "> Blo";
  }
  /* string 4, char 6 */
  77.3130544994%, 77.734530207% {
    content: "> Bloc";
  }
  /* string 4, char 7 */
  77.735530207%, 78.1570059147% {
    content: "> Block";
  }
  /* string 4, char 8 */
  78.1580059147%, 78.5794816223% {
    content: "> Blockc";
  }
  /* string 4, char 9 */
  78.5804816223%, 79.00195733% {
    content: "> Blockch";
  }
  /* string 4, char 10 */
  79.00295733%, 79.4244330376% {
    content: "> Blockcha";
  }
  /* string 4, char 11 */
  79.4254330376%, 79.8469087452% {
    content: "> Blockchai";
  }
  /* string 4, char 12 */
  79.8479087452%, 80.2693844529% {
    content: "> Blockchain";
  }
  /* string 4, char 13 */
  80.2703844529%, 80.6918601605% {
    content: "> Blockchain ";
  }
  /* string 4, char 14 */
  80.6928601605%, 81.1143358682% {
    content: "> Blockchain c";
  }
  /* string 4, char 15 */
  81.1153358682%, 81.5368115758% {
    content: "> Blockchain co";
  }
  /* string 4, char 16 */
  81.5378115758%, 81.9592872835% {
    content: "> Blockchain con";
  }
  /* string 4, char 17 */
  81.9602872835%, 82.3817629911% {
    content: "> Blockchain cons";
  }
  /* string 4, char 18 */
  82.3827629911%, 82.8042386988% {
    content: "> Blockchain consu";
  }
  /* string 4, char 19 */
  82.8052386988%, 83.2267144064% {
    content: "> Blockchain consul";
  }
  /* string 4, char 20 */
  83.2277144064%, 83.6491901141% {
    content: "> Blockchain consult";
  }
  /* string 4, char 21 */
  83.6501901141%, 84.0716658217% {
    content: "> Blockchain consulti";
  }
  /* string 4, char 22 */
  84.0726658217%, 84.4941415294% {
    content: "> Blockchain consultin";
  }
  /* string 4, char 23 */
  84.4951415294%, 89.5216024504% {
    content: "> Blockchain consulting";
  }
  /* string 4, char 24 */
  89.5226024504%, 89.9018305872% {
    content: "> Blockchain consultin";
  }
  /* string 4, char 25 */
  89.9028305872%, 90.2820587241% {
    content: "> Blockchain consulti";
  }
  /* string 4, char 26 */
  90.2830587241%, 90.662286861% {
    content: "> Blockchain consult";
  }
  /* string 4, char 27 */
  90.663286861%, 91.0425149979% {
    content: "> Blockchain consul";
  }
  /* string 4, char 28 */
  91.0435149979%, 91.4227431348% {
    content: "> Blockchain consu";
  }
  /* string 4, char 29 */
  91.4237431348%, 91.8029712717% {
    content: "> Blockchain cons";
  }
  /* string 4, char 30 */
  91.8039712717%, 92.1831994085% {
    content: "> Blockchain con";
  }
  /* string 4, char 31 */
  92.1841994085%, 92.5634275454% {
    content: "> Blockchain co";
  }
  /* string 4, char 32 */
  92.5644275454%, 92.9436556823% {
    content: "> Blockchain c";
  }
  /* string 4, char 33 */
  92.9446556823%, 93.3238838192% {
    content: "> Blockchain ";
  }
  /* string 4, char 34 */
  93.3248838192%, 93.7041119561% {
    content: "> Blockchain";
  }
  /* string 4, char 35 */
  93.7051119561%, 94.0843400929% {
    content: "> Blockchai";
  }
  /* string 4, char 36 */
  94.0853400929%, 94.4645682298% {
    content: "> Blockcha";
  }
  /* string 4, char 37 */
  94.4655682298%, 94.8447963667% {
    content: "> Blockch";
  }
  /* string 4, char 38 */
  94.8457963667%, 95.2250245036% {
    content: "> Blockc";
  }
  /* string 4, char 39 */
  95.2260245036%, 95.6052526405% {
    content: "> Block";
  }
  /* string 4, char 40 */
  95.6062526405%, 95.9854807774% {
    content: "> Bloc";
  }
  /* string 4, char 41 */
  95.9864807774%, 96.3657089142% {
    content: "> Blo";
  }
  /* string 4, char 42 */
  96.3667089142%, 96.7459370511% {
    content: "> Bl";
  }
  /* string 4, char 43 */
  96.7469370511%, 97.126165188% {
    content: "> B";
  }
  /* string 4, char 44 */
  97.127165188%, 97.5063933249% {
    content: "> ";
  }
  /* string 4, char 45 */
  97.5073933249%, 97.8866214618% {
    content: ">";
  }
  /* string 4, char 46 */
  97.8876214618%, 100% {
    content: "​";
  }
}
@-webkit-keyframes beam-blink {
  75% {
    border-color: transparent;
  }
}
@keyframes beam-blink {
  75% {
    border-color: transparent;
  }
}
* {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  background-image: radial-gradient(rgba(255, 255, 255, 0.125), rgba(255, 255, 255, 0)), linear-gradient(to bottom, #000, #000 2px, #111 3px);
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover, 100% 3px;
  font-size: calc(10px + 2vw);
  font-family: "VT323", monospace, sans-serif;
  color: #3f3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::after {
  content: "​";
  position: absolute;
  top: 213px;
  display: inline-block;
  padding-right: 3px;
  padding-right: calc(3px + 0.1vw);
  border-right: 10px solid rgba(51, 255, 51, 0.75);
  border-right: calc(1.1vw + 4px) solid rgba(51, 255, 51, 0.75);
  text-shadow: 0 0 5px rgba(51, 255, 51, 0.75);
  white-space: nowrap;
  -webkit-animation: typed 47.34s linear 1s infinite, beam-blink 1s infinite;
          animation: typed 47.34s linear 1s infinite, beam-blink 1s infinite;
}
@media (max-width: 575px) {
  body::after {
    top: -33px;
  }
}

.headline {
  text-decoration: none;
  color: #3f3;
  font-size: 2vw;
  font-family: "VT323", monospace, sans-serif;
}

a {
  text-decoration: none;
  color: #3f3;
}/*# sourceMappingURL=index.css.map */